/Operating System/Bangker's Algorithm/nbproject/private/
/Operating System/Bangker's Algorithm/build/
/Graphics lab/LineClipping/nbproject/private/
/Graphics lab/LineClipping/build/
/Graphics lab/java lab exam demo/nbproject/private/
/Graphics lab/java lab exam demo/build/
/Graphics lab/java lab demo/nbproject/private/
/Graphics lab/java lab demo/build/
/Graphics lab/java lab/nbproject/private/
/Graphics lab/java lab/build/
/Graphics lab/RgbToHsv/nbproject/private/
/Graphics lab/RgbToHsv/build/
/Graphics lab/LineClippings/nbproject/private/
/Graphics lab/LineClippings/build/